
.body{
    background-color: #c5c5c5;
    color: #000000;
    font-family: 'Open Sans';

}
.card {
    background-color: #ffffff;
    width: 250px;    
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 12px;
    height: 300px;
    border-top:solid #8132a3 10px;
    box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.75);
  }
   .card img{
    margin-top: 20px;
    width: 55%;
    border-radius: 50%;
  } 
  
  .card-input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: sold 1px;
    border-color: #eeeeee;
    width: 84%;
    height: 17px;
    font-weight: 13px;
    padding-bottom: 5px;
  }
  .card-input.phone{
    border-bottom:   0px;
  }
  .class-label{
    margin: 6px 19px;
  }
  .card-items{
    width: 200px;
  }
  .card-label{
    display: block;
    text-align: left;
    font-weight: 20px;
  }
 
  